.Office-Details-next-btn{
margin-top: 0rem !important;
}

.officedetails-form {
    height: 103% !important;
}
.Select-option-section {
    width: 100%;
   
}
/* .Billing-section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
} */