h1 {
    margin: 0;
    padding: 0;
  }
  html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .popup {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    margin: auto;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 500px;
    width: 50%;
    text-align: -webkit-center;
    padding: 1rem;
  }
  
  .popup-office-details-form{
    height: 400px;
    overflow: scroll;
  }
  .popup-office-details-form::-webkit-scrollbar{
    display: none;
  }
  .popup-office-details-form input {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    background: #F3F3F3;
    border-radius: 100px;
    width: 400px;
    height: 50px;
    padding: 1rem;
    border: none;
    padding-left: 27px;
  }
  .popup-office-details-form h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #1A69AE;
    text-align: center;
  }
  .popup_inner button{
      background-color: transparent;
      border:none;
      
  }
  .close-btn-wrapper{
    text-align: right;
  }
  .popup-office-details-form button{
    width: 329px;
    height: 40px;  
    background: #1A69AE;
    border-radius: 10px;
    margin-top:13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
 